<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="FileManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <FileManager.Properties.Settings>
            <setting name="OnSemiCopy" serializeAs="String">
                <value>ContinueWithNext</value>
            </setting>
            <setting name="SupportSpaceBarSelection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Load_MDF_MDS_Icon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HistoryElementsCount" serializeAs="String">
                <value>10</value>
            </setting>
        </FileManager.Properties.Settings>
    </userSettings>
</configuration>
